name: Docker

on:
  # Run when pushing to master branch
  push:
    branches:
      - master

  # Run regularly
  schedule:
  - cron: "38 0 1 * *"

  # Enable running workflow manually
  workflow_dispatch:

  # Run for any pull request
  pull_request:

env:
  DOCKER_NAMESPACE: schmandr
  IMAGE_NAME: mapcache

jobs:
  # Run tests.
  # See also https://docs.docker.com/docker-hub/builds/automated-testing/
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Run tests
        run: |
          if [ -f docker-compose.test.yml ]; then
            docker-compose --file docker-compose.test.yml build
            docker-compose --file docker-compose.test.yml run sut
          else
            docker build . --file Dockerfile
          fi

  # Push image to GitHub Packages.
  # See also https://docs.docker.com/docker-hub/builds/
  push:
    # Ensure test job passes before pushing image.
    needs: test

    runs-on: ubuntu-latest
    if: github.event_name == 'push'

    steps:
      - uses: actions/checkout@v2

      - name: Build image
        run: docker build . --file Dockerfile --tag $IMAGE_NAME

      - name: Log into registry
        run: echo "${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}" | docker login -u ${{ secrets.DOCKER_HUB_USERNAME }} --password-stdin

      - name: Push image
        run: |
          DOCKER_REPOSITORY=$DOCKER_NAMESPACE/$IMAGE_NAME

          docker tag $IMAGE_NAME $DOCKER_REPOSITORY:latest
          docker push $DOCKER_REPOSITORY
